
.product {
    display: inline;
}

.productContainer {
    width: 80%;
    float: left;
    margin: 10px auto;
}

.productImage {
    width: 25%;
    float: left;
}

.productName {
    height: 100px;
    width: 55%;
    float: left;
}

.productPrice {
    width: 20%;
    float: left;
}

.insertCart {
    width: 20%;
    float: right;
}

#userMenu {
    display: inline;
}

.menu {
    list-style: none;
    width: 100px;
    height: 20px;
    margin: 2px;
    padding: 2px;
    display: block;
    float: left;
}

#currentMenu {
    font-weight: bold;
}